.container {
    display: grid;
    grid-template-columns: 65% 30%;
    width: 80%;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .container {
        grid-template-columns: 100%;
    }
}
.left {
    background: green;
    height: 10000px;
    width: 100%;
}
.right {
    background: greenyellow;
    height: 10000px;
    width: 100%;
    margin-left: 20px;
}
.taitle {
    width: 30%;
    height: 600px;
    background-color: grey;
    margin: 0 auto;
}
